USE [master]
GO
/****** Object:  Database [yeniYil]    Script Date: 22.12.2017 21:38:01 ******/
CREATE DATABASE [yeniYil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yeniYil', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\yeniYil.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'yeniYil_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\yeniYil_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yeniYil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yeniYil]
GO
/****** Object:  Table [dbo].[ocak]    Script Date: 22.12.2017 21:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocak](
	[tarih] [date] NULL,
	[kalkisSaati] [time](7) NULL
) ON [PRIMARY]

GO
USE [master]
GO
